<h2>Управление</h2>
<div>
  <%= link_to "Специализации", :controller => "specializations" %>
  <br />
  <%= link_to "Валюты", :controller => "currencies" %>
  <br/>
  <%= link_to "Вакансии", :controller => "vacancies" %>
  <br/>    
</div>