<h1>Listing welcomes</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= link_to 'Parse currencies', parse_currencies_path %>
    <br />
    <%= link_to 'Parse all vacancies', parse_all_vacancies_path %>
  </tbody>
</table>

<br>