<h1>Weclome to hhstat</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= link_to "Vacancy count by month", :controller => "stat", :action => "time", :year => Date.today.year %>
    <br />
    
    <br/>
  </tbody>
</table>

<br>